[2016-09-19 21:05] ksobon opened #1 "implement cefSharp instead of IE"
implementing a chrome based web browser control would allow me to use libraries like gridster.js to control the layout better.

[2016-09-19 21:06] ksobon opened #2 "implement gridster.js"
current scheme for handling layouts is a bit clunky. i would rather prefer more dynamic layouts using gridster and js

[2016-09-19 21:07] ksobon opened #3 "PNG export"
PNG export is broken. I need a better implementation for that.

[2016-09-21 08:23] dietervermeulen opened #4 "Script error with Report Window"
When running the script with the Report Window, I get a Script error (see screen shots) and at the end the window is empty.
![image](https://cloud.githubusercontent.com/assets/12096185/18703252/6a79731a-7fe5-11e6-89f9-4b1f546e2611.png)
![image](https://cloud.githubusercontent.com/assets/12096185/18703235/54bbc726-7fe5-11e6-812b-58730294200d.png)
![image](https://cloud.githubusercontent.com/assets/

[2016-09-21 10:37] josols commented on #4
Same with me. Win 7, dynamo 1.1 for Revit.

[2016-09-21 13:26] ksobon commented on #4
@dietervermeulen and @josols here's a link to Mandrill Primer that explains how the data needs to be structured for Parallel Coordinates Chart.

Here's your sample re-worked to match that structure.

![image](https://cloud.githubusercontent.com/assets/529781/18712670/76e1e70c-7fdd-11e6-8eef-9eb8bc4efadd.png)

Good luck!

[2016-09-21 14:09] dietervermeulen commented on #4
Hi Konrad,
Thanks for indicating the solution with the names. But still the scripting error remains.
![image](https://cloud.githubusercontent.com/assets/12096185/18714359/c8ede220-8015-11e6-8fd1-80f5e9a6d8a4.png)

[2016-09-21 14:14] ksobon commented on #4
can you do two things for me?

1. check if that path that is being mentioned in the error actually points at the d3.v3.min.js file.
2. just click yes, and then right click in the empty window and click on View Source. Can you post the source code from that window?

[2016-09-21 14:19] dietervermeulen commented on #4
1. The path exists yes.
![image](https://cloud.githubusercontent.com/assets/12096185/18714775/2bd9847e-8017-11e6-96a6-5e4aa30a01f8.png)

2. Source code: in attachment below.
[Source Code.txt](https://github.com/ksobon/Mandrill/files/485258/Source.Code.txt)

[2016-09-21 14:19] dietervermeulen commented on #4
PS: executed in Dynamo Studio 2017

[2016-09-21 14:24] ksobon commented on #4
OK, so the script looks just fine, and if the file exists I can only suggest one more thing. Please try closing Studio and firing it up in Dynamo Sandbox. That's the version that I am testing on. I did run into this issue before when firing up Mandrill from Revit, but found no solution yet. Here's a link to my conversation with Dynamo dev team: https://github.com/DynamoDS/DynamoRevit/issues/1143

[2016-09-21 14:40] dietervermeulen commented on #4
Does not work in any of the versions: Revit Dynamo, Dynamo Sandbox or Dynamo Studio (the last one is in fact now also the Dynamo Core which is the same as the Sandbox.)...

[2016-09-21 14:45] ksobon commented on #4
it seems to be working in at least one of these versions:
![image](https://cloud.githubusercontent.com/assets/529781/18715757/690d1466-7fe8-11e6-9d17-62cd4c5d7fed.png)

I know it has an issue with running on top of Revit. I am looking at that. I don't have Studio so I can't test on that.

[2016-09-21 14:47] dietervermeulen commented on #4
Which is exactly the version I use :-)
Sorry, but not working in the Sandbox version.

[2016-09-21 14:51] ksobon commented on #4
OK, I will keep this issue open, but I am not sure how I can debug your issue without being able to re-create it.

I am on Win7 at work and Win10 at home so operating system is probably not an issue. I guess that it has to do with what app owns the window which in turn sets the context for data. I will try looking at that if I hear from more people that they can't get it to work on their machines.

[2016-09-22 06:14] josols opened #5 "Wish: Support for Scatterplot Matrix"
I humbly apologize for creating a wish item the day after release, but I shamelessly put it forward anyway: It would be great to have support for creating scatterplot matrix visualisations, like this here: http://mbostock.github.io/d3/talk/20111116/iris-splom.html
Would be an excellent way to find solutions to multiobjective optimalisation problems (In addition to parallell coordinates)

[2016-09-22 11:13] ksobon commented on #5
No need to apologize. Have you been able to use Mandrill so far? I have been getting news from some people that it doesnt work for them. I will look at the scatter plot matrix. Thanks for a suggestion.

[2016-09-22 12:18] josols commented on #5
Hmm, no I haven't actually.. I've only tried it in D4R though. I understand it so that png doesn't work at the moment, so I tried pdf. Get the following warning:
![image](https://cloud.githubusercontent.com/assets/7080648/18747781/5a0ff2ca-80cf-11e6-9f1c-9fdb78764714.png)

As it got nothing to do with this thread I could post it as a new issue, if you will.

[2016-09-22 12:52] ksobon commented on #5
Yes, can you try a new thread? I know whats wrong with that one so i should
be able to fix it.

On Thursday, September 22, 2016, josols <notifications@github.com> wrote:

--
Konrad K Sobon

[2016-09-23 00:29] ksobon opened #6 "Export to PDF not working"
PDF export is not working due to fact that *.dep file for Select.Html is located in extra folder instead of in bin folder.

[2016-09-23 01:26] ricardo7cordas commented on #4
The same happens with me.

[2016-09-23 01:53] ricardo7cordas commented on #4
@ksobon the problem can be the path? Because the file is on the correct place.

![image](https://cloud.githubusercontent.com/assets/14896455/18771671/0c4f0416-8117-11e6-92ea-3e970796d41c.png)

![image](https://cloud.githubusercontent.com/assets/14896455/18771678/1439f9b0-8117-11e6-82c1-b6628092c0b4.png)

[2016-09-23 01:57] ksobon commented on #4
@ricardo7cordas that's not an issue. That's an error that is being thrown for every exception that happens inside of d3.js I checked that the path is fine, and it was escaped inside of code so the actual path doesn't have %20 in it but a space. Please see the TXT attached by @dietervermeulen in above comment. I have no idea what causes that error and I have very little to go on here. Sorry.

[2016-09-23 01:58] ksobon commented on #6
Solved and also fixed an issue with absolute file paths being escaped with %20 which was not an accepted format for PDF Exporter. Please see the latest release.

[2016-09-23 01:58] #6 closed

[2016-09-23 02:05] ricardo7cordas commented on #4
Ok @ksobon . Thanks for your effort

[2016-09-23 07:02] josols opened #7 "Script error: Select.Html.dep"
I recieve the following error when trying to create a pdf from a report:
![image](https://cloud.githubusercontent.com/assets/7080648/18776774/da8a72c6-816b-11e6-83ee-14603ade04c3.png)

here is a picture of the entire test workflow:
![pic1](https://cloud.githubusercontent.com/assets/7080648/18776860/5f99fe3c-816c-11e6-9954-1841b1563ac1.png)

[2016-09-24 21:00] plindjo commented on #4
Hi Konrad. I am unfortunately experiencing the same issue with all charts. I've tested with sandbox and revit on win7 enterprise and win10 home, and got the script error with every setup (d3 is undefined). Since you can't recreate the issue, I thought it might be some weird reference issue or something, and figured I'd try building the package from the source.
Unfortunately the Mandrill_d3 project

[2016-09-26 21:18] ksobon commented on #4
I think I know what the issue is. I am using a WebBrowser control to render these charts and in all its greatness its no different than using an IE7 which might or might not work on each individual person's computer depending on their own setup. Also, i found that WebBrowser control usually has trouble and unpredictable behavior when it comes to using local resources (d3.js) and it frequently deni

[2016-09-27 15:40] ksobon commented on #4
OK, I tested my assumption using a EO.WebBrowser which uses Chrome and it turns out that I was correct. I can get my charts working now, in Sandbox and Revit without any errors. It turns out that It was about security restrictions and how browsers disable any website javascripts from accessing local files. What is possible with the EO browser is that it allows you to disable that and access the lo

[2016-09-27 17:15] plindjo commented on #4
Great job! Looking forward to trying it out

[2016-09-27 18:06] dietervermeulen commented on #4
Sounds good to me too, as long as their are no legal issues with this use of the license?

Op 27 sep. 2016 om 17:40 heeft Konrad K Sobon <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

OK, I tested my assumption using a EO.WebBrowser which uses Chrome and it turns out that I was correct. I can get my charts working now, in Sandbox and Revit without any errors.

[2016-09-27 18:09] ksobon commented on #4
I would rather purchase the license and then it states that its perfectly legal to ship their DLLs with the application. I am sure its OK to ship the free version as well but the pop-up is annoying.

I need to raise some founds for this. I don't think I want to start investing $$$ and time into my Open Source projects...

[2016-09-27 18:28] andydandy74 commented on #4
kickstarter

[2016-09-27 21:07] ksobon commented on #7
it should be fixed with latest release.

![image](https://cloud.githubusercontent.com/assets/529781/18891816/ee1641e6-84d4-11e6-9158-80dc19e5ff9e.png)

[2016-09-27 21:08] ksobon commented on #4
latest release should address issues raised here

![image](https://cloud.githubusercontent.com/assets/529781/18891835/00279a56-84d5-11e6-96b0-d6b62ef2c85c.png)

[2016-09-28 03:04] ricardo7cordas commented on #4
the error continues, even after the update.

![image](https://cloud.githubusercontent.com/assets/14896455/18899391/18792806-850f-11e6-91ff-c92918619a01.png)

![image](https://cloud.githubusercontent.com/assets/14896455/18899403/2190cdae-850f-11e6-993d-a08a1ec66aa8.png)

[2016-09-28 03:18] ksobon commented on #4
Ricardo, try the chrome window node. This one didnt change.

[2016-09-28 03:20] ricardo7cordas commented on #4
wow.. thats great.. it works!!!

![image](https://cloud.githubusercontent.com/assets/14896455/18899713/65fde2ae-8511-11e6-8d20-037f46142b3a.png)

[2016-09-28 03:23] ksobon commented on #4
Now i need to somehow solicit $700 to make the small window in bottom right corner go away. Lol. Glad it works for you.

[2016-09-28 03:24] #4 closed

[2016-09-28 03:28] ricardo7cordas commented on #4
We will ask for donations. I do advertising here with the guys from Brazil if necessary. And also contribute with $$$. This is an amazing job.

[2016-09-28 03:32] ksobon commented on #4
I was thinking about starting a small fundme.com project so people can contribute. Lol. I will set something up. I need to fix a few more bugs and i will set that up. Thanks for the offer!

[2016-09-28 03:35] ricardo7cordas commented on #4
Let's do it.

[2016-09-28 07:08] dietervermeulen commented on #4
Works fine now ! Great job Konrad.

From: Konrad K Sobon [mailto:notifications@github.com]
Sent: woensdag 28 september 2016 5:25
To: ksobon/Mandrill <Mandrill@noreply.github.com>
Cc: Dieter Vermeulen <dieter.vermeulen@autodesk.com>; Mention <mention@noreply.github.com>
Subject: Re: [ksobon/Mandrill] Script error with Report Window (#4)

Closed #4<https://github.com/ksobon/Mandrill/issues/4>.

—
Yo

[2016-09-29 15:15] #7 closed

[2016-09-29 22:31] ksobon commented on #4
Here's a link to a fund if you guys want to contribute: https://funds.gofundme.com/dashboard/mandrill

Thanks!

[2016-10-03 16:53] ksobon commented on #5
I have added a basic Scatter Plot Matrix Chart to the latest release. It doesn't support brushing yet, but I can have a look at that at some point in the future.

[2016-10-03 16:53] #5 closed

[2016-10-03 16:54] ksobon commented on #2
Gridster now supported in version 2017.12.1

[2016-10-03 16:54] #2 closed

[2016-10-03 16:54] ksobon commented on #1
Chrome now implemented in 2017.12.1

[2016-10-03 16:54] #1 closed

[2016-10-05 01:02] ksobon opened #8 "Bar Chart - text orientation, and label distance to first bar"
![image](https://cloud.githubusercontent.com/assets/529781/19097831/d14eca64-8a75-11e6-8369-620c05457135.png)

[2016-10-05 01:02] ksobon opened #9 "Stacked Area Chart"
![image](https://cloud.githubusercontent.com/assets/529781/19097838/e9baf960-8a75-11e6-8d58-a6af31163a24.png)

[2016-10-05 01:03] ksobon opened #10 "Some sort of a hybrid of a Bar and Area Chart"
![image](https://cloud.githubusercontent.com/assets/529781/19097852/11a506be-8a76-11e6-9adf-37a1bcc987a8.png)

[2016-10-05 01:04] ksobon opened #11 "3D Bar Chart"
![image](https://cloud.githubusercontent.com/assets/529781/19097854/2082383c-8a76-11e6-8f14-4ae379c5a213.png)

[2016-10-05 01:05] ksobon opened #12 "Donut Chart - labels, legend label"
![image](https://cloud.githubusercontent.com/assets/529781/19097865/3a1e7684-8a76-11e6-8daf-0d8c69a9728c.png)

[2016-10-05 01:05] ksobon opened #13 "Create Report node throws a warning"
![image](https://cloud.githubusercontent.com/assets/529781/19097871/5208f36e-8a76-11e6-831c-3470d9be61f3.png)

[2016-10-05 21:48] ksobon commented on #8
Gap between the title and first bar can be fixed by using `outerPadding` on the range bands method.

[code]

[2016-10-06 13:12] ksobon commented on #8
Labels along the X-Axis can be rotated using the following code:

[code]

[2016-10-06 13:17] ksobon commented on #8
I think this solves both issues pertaining to Bar Chart.

![Uploading image.png…]()

[2016-10-06 13:17] #8 closed

[2016-10-06 14:42] ksobon commented on #12
I do like the suggestion to use a radial orientation for text. It's a little harder sometimes to read it, but at the same time, its easier to fit all labels around the chart nicely.

[code]

![image](https://cloud.githubusercontent.com/assets/529781/19156913/79497318-8bb1-11e6-96f9-8e5926c8ea57.png)

[2016-10-06 14:43] ksobon commented on #12
There is also now a new input for custom label in the middle of the chart.

![image](https://cloud.githubusercontent.com/assets/529781/19156957/ab514bb0-8bb1-11e6-9d0a-6e3ad8a355f3.png)

[2016-10-06 14:47] ksobon commented on #12
For the legend, I will actually decouple it from the chart. I would like to make it be its own object, so that it can be placed anywhere around the chart. That way, multiple charts can share a legend as well.

[2016-10-06 14:47] #12 closed

[2016-10-06 14:47] ksobon opened #14 "Legend"
It would be nice to have a legend object that is independent of charts. That way multiple charts can share it, as well it will allow for specific placement.

[2016-10-06 18:56] ksobon commented on #14
ok, so Legend is its own dragable object now. All one needs to create it is to set a list of Strings, and Colors. Works, kind of like a chart with a Data/Style setup.

![image](https://cloud.githubusercontent.com/assets/529781/19166335/169adcc4-8bd5-11e6-98cb-5726b7699ce3.png)

[2016-10-06 18:56] #14 closed

[2016-10-17 23:42] thebimman opened #15 "Mandrill - Wishlist Items"
Firstly thank you Konrad!

Secondly can we please get some improvements (or know-how on how to achieve the below if already features of Mandrill)
- Precise numbering (a display option) labels above the data columns in the graphs
- Ability to control the width of the data column in a graph
- Ability to rotate or set the text orientation for the labels on the Axis' in the graphs
  ![mandrill - user

[2016-10-18 00:16] ksobon commented on #15
Jason,
Next release will have ability to control the orientation of the text in the bar chart.

https://github.com/ksobon/Mandrill/issues/8

To control the width of the bars you need to make the bar chart width smaller. Individual bars are equally spaced along the entire width.

The last thing is ability to turn on the actual value for each bar. These values show up when you hover over the bar. Do

[2016-10-18 19:26] ksobon commented on #15
It should look like this with the new text rotation:

![image](https://cloud.githubusercontent.com/assets/529781/19493056/241cfbb8-9547-11e6-9931-c15570cd20e5.png)

I also had to add Bottom Margin control so that your text doesn't get cropped off.

[2016-10-19 01:55] thebimman commented on #15
Nice work! Is it published yet?

Jason Howden

Director | Vice President Software Development

RTV Tools Limited

email: jason@rtvtools.com
tel: +64 21 145 3979
skype: jason.howden
web: www.rtvtools.com

[sent by iphone]

[2016-10-19 13:25] ksobon commented on #15
No, this is not published yet. I need to do some more cleanup on some of these charts based on feedback as well as incorporate the license from EO now that I got funding for it.

I am also adding something that you showed me in your last email:

![image](https://cloud.githubusercontent.com/assets/529781/19520336/e70514d0-95dd-11e6-9b14-5c721ccfee13.png)

It's all coming, at some point. :-)

[2016-10-19 18:46] thebimman commented on #15
Awesome - thank you!

We are loving Mandrill

Jason Howden

Director | Vice President Software Development

RTV Tools Limited

email: jason@rtvtools.com
tel: +64 21 145 3979
skype: jason.howden
web: www.rtvtools.com

[sent by iphone]

[2016-11-08 22:27] ksobon commented on #13
I can't re-create this. I am guessing that there was something wrong with one of the chart nodes, and they freaked out the Report node. Please re-open if you can replicate.

[2016-11-08 22:27] #13 closed

[2016-11-10 14:58] ksobon opened #16 "text wrapping for really long strings"
![image](https://cloud.githubusercontent.com/assets/529781/20181462/4158db38-a72c-11e6-9cbe-7cf083a2384c.png)

This is not very good. It would be nice to wrap them into multiple lines.

[2016-11-11 18:26] ksobon opened #17 "Printing"
If you try and print from Dynamo in Revit, that will cause an error and crash.

What happens is that Revit is the owner Application, and unfortunately Mandrill Registers itself as a child of a Dynamo window, so what happens is that no window is returned and all sorts of nasty happens...

Let's clean that up!

[2016-11-11 21:58] ksobon commented on #17
This was a little more complicated than I have imagined. Since Revit is the controlling application that owns Dynamo and in return owns Mandrill, there was no way for me to collect a WPF child window of a WinForms main app. It's all convoluted but i ended up just printing the string that is stored in report. That works.

[2016-11-11 21:58] #17 closed

[2016-11-26 23:02] radumg opened #18 "Tree layouts support"
Hey Konrad, have you thought of supporting d3.layout.tree ?

Scenarios where this would be useful could include :

- visualisation of serialised information
- nested list exploration/display
- visualisation of workflows/instructions

What do you think ?

[2016-11-27 01:18] ksobon commented on #18
I like that! If we can come up with a sample data that i can test this on then i can go for it.

[2016-11-27 22:22] #16 closed

[2016-12-06 18:54] dagillespie opened #21 "Radar chart"
A radar chart would be super useful for comparing a number of options or understanding the profile of a design. Something along this line would be amazing - http://bl.ocks.org/nbremer/6506614

[2016-12-06 19:00] radumg commented on #21
Quite like the idea. The updated radar chart looks amazing too : http://bl.ocks.org/nbremer/21746a9668ffdf6d8242

[2016-12-06 19:09] ksobon commented on #21
@radumg that first one more likely if anything. I am not into this whole glow effect thing.

[2016-12-06 19:16] radumg commented on #21
@ksobon presumed that can be turned off, don't like the fuzy-ness either, but I did like the spline approach and the cleanup of the underlying grid.

[2016-12-07 02:17] ksobon commented on #21
yeah i can see that. i will have a look....eventually.

[2016-12-10 18:09] thazell opened #22 "Value Suffixes"
Can we have a suffix allowed for the values that display on the charts?  Example 8%  or 5m  Where "%" or "m" would be the suffix on the values?

[2016-12-10 18:55] ksobon commented on #22
Which chart are we talking about?

[2016-12-11 02:15] ksobon commented on #22
I got it...
1. Bar Chart on hover overs.
2. Donut Chart on hover overs.
3. Stacked Bar Chart on hover overs.

[2016-12-11 02:16] ksobon opened #23 "Expose data as a property"
Expose data as JSON string so that it can potentially be used elsewhere.

[2016-12-11 02:18] ksobon opened #24 "parrallel coordinates improvements"
1. Allow for hover over functionality where highlighted line would display its name/values.
2. Allow for wrapping of text or rotated text for axis labels.
3. It would be nice to have a table of contents for selected values that would be brushed with the chart filters.

[2016-12-12 00:49] ksobon commented on #23
This should do the trick:

![image](https://cloud.githubusercontent.com/assets/529781/21085063/e1eb99b6-bfda-11e6-847e-4681ed20a1f9.png)

cc: @thazell

[2016-12-12 01:13] #23 closed

[2016-12-12 01:14] ksobon opened #25 "ability to export to HTML"

[2016-12-12 01:20] ksobon commented on #25
This should do the trick:

![image](https://cloud.githubusercontent.com/assets/529781/21085366/478df81e-bfdf-11e6-9139-fa8ac1103653.png)

[2016-12-12 01:20] #25 closed

[2016-12-12 02:31] thazell commented on #23
@ksobon Awesome!  That's even better.  Thanks

[2016-12-13 01:18] makotoohura opened #26 "System.IO.FileLoadException notification"
Hi,
When I installed Archi-lab_Mandrill package to Dynamo for Revit, I received four notifications in Dynamo.
![error1](https://cloud.githubusercontent.com/assets/24534933/21123511/84c6dd8e-c11c-11e6-922d-a8d76c767f69.jpg)
The following is the detail.
![error2](https://cloud.githubusercontent.com/assets/24534933/21123521/934f4ada-c11c-11e6-8eed-be583c420f7b.jpg)
![error3](https://cloud.githubuserc

[2016-12-13 02:19] ksobon commented on #26
It seems to me that you might have an issue with an older version of the Mandrill getting improperly updated to a newer one. Do you by any chance have more than one version of Dynamo installed? This might also be causing this issue especially if they have multiple versions of Mandrill installed. Try uninstalling and DELETING all source files for Dynamo and installing it fresh. Then go ahead and in

[2016-12-13 05:52] makotoohura commented on #26
Hi Konrad-san,
Thank you for replying.
I uninstalled all Revit and Dynamo. Then deleted all folders for Revit and Dynamo.

I installed Revit 2017 (17.0.416.0, 20160225_1515(x64)) and Dynamo 1.2.1 again.
Then I installed Archi-lab_Mandrill (2017.12.3).
I didn't receive any notification in Dynamo.

However, after I updated Revit to 2017.1.1 Fixes (17.0.1.099.0, 20161117_1200(x64), 2017.1.1), I recei

[2016-12-13 18:10] ksobon commented on #26
so what happens when you update Revit to 2017.1 is that it installs Dynamo again. I would do this in this sequence.

1. Uninstall Dynamo and delete all folders. It will have folders in Program Files and users/username/Roaming/Dynamo etc. Please delete them all.
2. Install a fresh version of Dynamo 1.2.

The trick is that Dynamo doesn't work when there are multiple versions of it installed. When yo

[2016-12-14 00:50] makotoohura commented on #26
Hi,
I tried the following step:
1. uninstall Archi-lab_Mandrill
2. uninstall Dynamo Revit and Dynamo Core
3. Delete C:\Program Files\Dynamo, C:\ProgramData\Dynamo and C:\Users\name\AppData\Roaming\Dynamo
4. Install Dynamo 1.2.1
5. Install Archi-lab_Mandrill

I received the notification again.

Thanks,
Makoto

[2016-12-14 19:01] ksobon commented on #26
There is a conflict with one of the installed packages that use the same library as Mandrill. Revit is the worst at just loading all of the DLLs into the same context. I don't know what plug-in you have installed that uses the same library (EO.WebBrowser) that mine does, but you would have to uninstall one of them for the other to work with Revit.

[2016-12-17 01:45] ksobon commented on #26
so I have narrowed it down now. When I install Revit 2017.1 it displays these notifications. I did check if Mandrill runs and have no issues. Can you check if mandrill actually works on your machine. This might be ignorable.

[2016-12-19 00:38] makotoohura commented on #26
Hi,
Yes, I could create Bar and Pie chart in the window if I received the notification.
However, I cannot create the PDF file by "Print to PDF" node. When I click "Print Window" button, Dynamo is always crashed.
The following is the graph and capture.
[test.zip](https://github.com/ksobon/Mandrill/files/659797/test.zip)
![capture](https://cloud.githubusercontent.com/assets/24534933/21298037/d41171c

[2016-12-19 00:51] ksobon commented on #26
if you could post that warning message so that I can read the whole thing that would help. Right now I am only seeing part of the warning and its not helping.

Also, Mandrill works just fine on my machine. I am not using Dynamo Studio. I am using Dynamo for Revit or Dynamo Sandbox. It prints fine and the window gets displayed fine too. This must be an issue with your set-up.

[2016-12-19 01:14] makotoohura commented on #26
Hi,
I attached the error message detail.
[error detail.zip](https://github.com/ksobon/Mandrill/files/659835/error.detail.zip)
I received this error on Dynamo for Revit and Dynamo Studio.
Thanks,
Makoto

[2017-01-05 03:17] ksobon opened #27 "image.create fails"
https://forum.dynamobim.com/t/image-import-error-utilities-creategridsterreport-operation-failed/8594

[2017-01-05 18:53] ksobon commented on #15
Also bar chart will now have an option for adding a label above the bar that displays the actual value. This will be published with the next release of Mandrill.

![image](https://cloud.githubusercontent.com/assets/529781/21693295/62ca7396-d34e-11e6-952c-afc1c387a27c.png)

[2017-01-05 18:53] #15 closed

[2017-01-05 21:33] ksobon commented on #27
fixed.

![image](https://cloud.githubusercontent.com/assets/529781/21698376/afdd4a30-d364-11e6-9b05-41e171f7c119.png)

[2017-01-05 21:33] #27 closed

[2017-01-11 16:26] MauroSabiu opened #28 "Dynamo Player_Automatic opening report window?"
Hi Konrad, first of all, great package.
In my view, it would be really interesting to allow the automatic opening of the report window in order to visualize the charts directly in revit through dynamo player. What do you think?
it could be nice also if related to the functionality of the Data-Shape package.
Thanks!

[2017-01-11 16:31] ksobon commented on #28
@MauroSabiu thanks for sharing. What's the Data Shape package? What does it do? Care to post some examples? I am not familiar with it.

What you are asking for i can see being possible with a simple `Boolean` input into the Window node that would launch it. I can do that instead of the Button on the node itself. I just wanted to avoid extra inputs if necessary.

[2017-01-11 16:42] MauroSabiu commented on #28
@ksobon that would be just great! it should allow to open the window with dynamo closed, exactly what i would like to achieve.
The Data-Shape package allow the user to create user interface windows simple to use also for not-dynamo users. This is the website https://data-shapes.net/
Example:
![image](https://cloud.githubusercontent.com/assets/16916318/21857268/cb0f705a-d81c-11e6-9fbe-650eedbfc4ed.

[2017-01-11 16:54] MauroSabiu commented on #28
here the .dyn file for you information
[Add-Revisions_Test_MS.zip](https://github.com/BadMonkeysTeam/Mandrill/files/699481/Add-Revisions_Test_MS.zip)

[2017-01-29 13:13] radumg commented on #18
hey @ksobon , here's an example built by Modelab, pretty much does what I was thinking of in terms of `nested list exploration`.
It also uses D3.js.

[2017-01-30 14:00] ksobon commented on #18
Yeah, I got sidetracked with something else, but I am thinking about updating Mandrill at some point. Thanks!

[2017-01-30 20:30] radumg commented on #18
no worry/hurry, just wanted to leave you a link/record for when you do get around to it.

[2017-02-21 11:11] marios-tsiliakos opened #29 "GH PrintToPDF comp"
First input should target a .pdf file correct>? not a .csv

Great wrapper of the d3.js thanks.

M.

[2017-02-21 21:43] ksobon commented on #29
that is correct. First input is a name/file path of the target pdf including an extension so: "C:/something.pdf"

[2017-02-21 21:44] #29 closed

[2017-02-24 22:53] mrainville1618 opened #30 "Horiz Bar Chart Y-Axis names not wrapping"
Am I missing something for how to achieve wrapping in the y-axis titles? I see it working in your example, although I am sending it info from the Warning.ErrorMessage node thru List.CountOccurances and not directly from a CSV.

[Uploading Pages from Horiz-Bar_Title-Wrap-Question.pdf…]()

[2017-02-25 03:36] ksobon commented on #30
I can't see what the problem is. PDF was not posted properly. Can you repost as Image?

[2017-02-25 15:52] mrainville1618 commented on #30
OK! it wasn't working last time, but this time it is. I submitted an additional .png of the definition at the end because the jpg isn't the best resolution. I hope this shows what I am experiencing. Thank you for making this project! I am excited to make use of it to help our users visualize their warnings.

Is there a justification or alignment parameter I am missing?

![horiz-bar_title-wrap-ques

[2017-02-25 16:07] ksobon commented on #30
The image is Dynamo definition is not high enough resolution for me to make out what is going on in there. I am going to take a wild guess though. Did you try making the left margin smaller? It looks to me that it's set to some really large value. Also, this word wrapping was added recently so make sure you have the latest version of Mandrill from the Package Manager.

[2017-02-28 14:34] mrainville1618 commented on #30
I just checked and the bottom dyn def image is clear. I tried making the margin smaller, was only large because I was trying to find the max length of warning. I am getting closer to an overall solution, although I am beginning to think it is an issue that the project I was testing on is in rvt2015, and I know there are differences in how nodes can function or what nodes are available between 15 a

[2017-03-17 18:25] markmendez opened #31 "Error compiling template"
## Dynamo Version: 1.2.1

### Parallel Coordinates Chart

This issue seems to come up sometimes. Restarting Revit/Dynamo is hit or miss, but will sometimes fix it.
Any ideas if I need to do something differently on my side?

![mandrill_pc_error](https://cloud.githubusercontent.com/assets/26490384/24057380/cb7b18c8-0b0c-11e7-81c4-a9e756910312.png)

Error Log:

Warning: Utilities.CreateGridsterRepor

[2017-03-17 19:47] markmendez commented on #31
Reinstalling Dynamo has resolved this for me. Thanks for your time.

[2017-03-18 19:12] ksobon commented on #31
I am glad it worked out for you. I would have suggested the same solution to you. The error that you got basically states that you were missing one of the DLLs that was supposed to be in the package folder but somehow was not there. Re-installation was the right thing to do. Cheers!

[2017-03-18 19:12] #31 closed

[2017-03-18 19:17] ksobon commented on #30
Were you ever able to get it to work? If you are on the latest Mandrill, that margin value does look about right, and Revit version should not matter at all because you are not connecting directly to Revit, just an HTML file that was produced from Revit, then I am running out of options. If you want to post the DYN/HTML/CSV files so I can re-create it on my machine, then maybe we can get this solv

[2017-03-20 13:55] mrainville1618 commented on #30
Honestly, I have also been very busy and not able to devote time back to this task. I will try another time to recreate the process and see if I just missed something. I had uninstalled the previous mandrill package and a few related packages and reinstalled them (which I really hope Dynamo developers will revamp the package system). I can post what I had from the initial run.
[horizontalBarChart.

[2017-03-20 13:57] mrainville1618 commented on #30
No rush in the least, I am merely wondering what I did wrong or what happened. I would like to make use of this for our teams. Thank you again for making this package and supporting those like me who ask for  assistance.

[2017-03-22 11:21] radumg opened #32 "Assembly dependencies conflict"
Hey @ksobon , i get these errors when opening Dynamo now :

![mandrill assembly issues](https://cloud.githubusercontent.com/assets/11439624/24195432/9fb22b62-0ef1-11e7-8d8d-ea1403fd4481.PNG)

All 4 errors provide the same text when expanded to show details, see the last one.

Is the `EO.WebBrowser` assembly loaded in multiple places ?

[2017-03-22 13:11] ksobon commented on #32
I only started getting this error recently when I updated to Revit 2017.1 so I am making an assumption that Revit team is using that same library somewhere....it doesn't cause any issues so you can just ignore it.

[2017-03-23 01:47] ksobon commented on #30
I can't open that file. It's saying its corrupted:

![image](https://cloud.githubusercontent.com/assets/529781/24228127/99ed2bc6-0f48-11e7-884c-31420c0ae42e.png)

I did however open the error library file that you sent me. it's basically the 900 errors that i posted on my website and said explicitly not to use. The reason I said that is because as most of these will work there are some on that lis

[2017-04-18 13:30] cesarecaoduro opened #33 "Barchart not visible"
I'm facing problem with barchart based charts. All others a re just working fine but barchart is not visible in the dashboard. No errors in the workflow and now warnings.
Revit all versions, Dynamo 1.2.1

[2017-04-19 20:24] ksobon commented on #33
Can you please post a screenshot of your setup or even better your Dynamo file and any Excel/CSV files? I will have to be able to see the issue or recreate it in order to help.

[2017-04-19 20:27] ksobon commented on #32
So as Dimitar noted on his Twitter account, this is caused by Dynamo Player also using EO.WebBrowser. I guess our versions are conflicting and that's causing reference issue, but not an actual issue. I need to maybe ask Dynamo team to make sure that this doesn't bubble up. There is no need it should.

[2017-04-19 20:27] #32 closed

[2017-04-19 20:44] ksobon commented on #26
So something is `null`, can I see the values for Style, FilePath and Report?

[2017-04-20 05:48] cesarecaoduro commented on #33
![2017-04-20 08_45_46-dynamo](https://cloud.githubusercontent.com/assets/26373891/25215398/d452102e-25a5-11e7-8529-3d3f05c7c240.jpg)

[2017-04-20 13:07] ksobon commented on #33
Try setting the input for "TickMarkX" to 3

[2017-05-07 02:22] ksobon commented on #30
This should be fixed in the last release. Please let me know if it's still an issue and i will reopen it.

[2017-05-07 02:22] #30 closed

[2017-05-18 14:12] DanielHurtubise opened #34 "Assigning colors to values"
I'm trying to get each bar in a Bar Chart to use a different color.
I use a Color.Range Node and fed it into the Bar Color input but no luck.
I also want to be able to use the same combination(value/color) for more chart to keep it consistent.

Thanks

[2017-05-18 15:09] DanielHurtubise opened #35 "Window is empty"
Not sure why i get this empty window on a small test file.
Basically doing a chart based on department and Area

![image](https://cloud.githubusercontent.com/assets/4299930/26209330/c6c1e756-3bec-11e7-82dc-e414a321c221.png)

[2017-05-18 15:13] DanielHurtubise commented on #35
Same result if i use Code Blocks
![image](https://cloud.githubusercontent.com/assets/4299930/26209514/48343a32-3bed-11e7-9ae8-6e5f22a11c6e.png)

[2017-05-18 15:16] ksobon commented on #35
try setting the TickMarks value to something like 3 or just feeding in more data points.

[2017-05-18 15:20] DanielHurtubise commented on #35
Nailed it, setting the TickMarks to a Count fixed it :)

[2017-05-18 15:21] ksobon commented on #34
That functionality only exists in the Horizontal Bar Chart at the moment. Regular bar chart has single color. I will put that down as a feature request.

[2017-05-18 15:26] DanielHurtubise opened #36 "Keeping the Window on top"
When minimizing Dynamo the report Window also minimizes. Is it possible to keep it on top?
I can deal with the issue as i have 3 monitors but most people don't.

[2017-05-18 15:42] DanielHurtubise commented on #34
I was under the impression that this would work
![image](https://cloud.githubusercontent.com/assets/4299930/26210906/64a50eea-3bf1-11e7-975d-fecb53f4dfb9.png)

[2017-05-18 19:24] ksobon commented on #34
This will:

![image](https://cloud.githubusercontent.com/assets/529781/26219631/adcf2718-3bdd-11e7-94e0-0167680c01b9.png)

Reason why is because D3 charts assign colors to bars by properties of data. So you can say color each bar by its value X, which in this case is the input Color on data node.

[2017-05-18 19:36] ksobon commented on #36
This is because Dynamo is the owner window of Mandrill window. Minimizing the owner will automatically minimize the child. I will see if I can break that relationship.

[2017-05-19 02:48] ksobon commented on #28
@MauroSabiu so I had a look at this and it looks like this will not be possible. What happens is that Mandrill window even when launched via Dynamo Player (or Data Shapes inputs) still very much "belongs" to Dynamo context. Closing Dynamo will close Mandrill automatically. There is no control over that as far as I can see. Data Shapes is able to display a window dialog like that because it actuall

[2017-05-19 04:34] andydandy74 commented on #28
I think this is a feature request for Data-Shapes, not for Mandrill, so maybe it should be posted there:
https://github.com/MostafaElAyoubi/Data-shapes/issues
A sensible approach would be to export the Mandrill report to HTML and the have a new UI component in Data-Shapes that can display HTML. Technically, it is perfectly possible to use a windows form to display HTML (see https://msdn.microsoft.

[2017-05-19 15:49] ksobon commented on #28
@andydandy74 i disagree. It would be perfectly sensible for DynamoPlayer not to swallow Mandrill's window. I want to ask Dynamo Player devs if there is a way to exclude certain windows when they hide them (I assume that's how they get rid of Dynamo UI when executing graphs).
Bypassing this functionality and trying to display HTML code in DataShapes is unnecessary workaround as it should just work

[2017-05-25 13:12] Dinosaver opened #37 "Multiple lines on one chart support"
Would be great to have such a basic feature as multiple lines on one chart.

[2017-06-19 14:01] vertragus opened #38 "A license is needed to continue using this product"
![untitled-1](https://user-images.githubusercontent.com/23382643/27288933-8a68e8ce-5508-11e7-8d2c-ffc90272bd71.jpg)

[2017-06-19 14:04] ksobon commented on #38
Thank you for reporting. I am aware of this, will get the license renewed, ASAP and post an update. Apologies for the inconvenience.

[2017-06-19 17:14] ksobon commented on #38
@vertragus OK, so I am afraid it isn't me forgetting to extend my license. It's good trough October. It also seems to be working just fine on my machine:

![image](https://user-images.githubusercontent.com/529781/27296963-04f53826-54f1-11e7-8c8b-7c7ae8ace828.png)

Can you make sure that you have this file and it's not blocked:

![image](https://user-images.githubusercontent.com/529781/27297037-427

[2017-06-21 08:39] vertragus commented on #38
It works fine now. Thank you!

[2017-06-21 13:49] #38 closed

[2017-06-29 08:46] Phlipflops opened #39 "dynamo crashed using html/pdf output"
First of all: Thanks for the package! Its saving my ass right now visualizing the data I Need to evaluate while working on my Project...
here is my issue I posted in the wrong repo before:
If I use the html or pdf Output, Dynamo crashes and give the following Report:

![crashed report](https://user-images.githubusercontent.com/29751762/27678848-f71e486e-5cb6-11e7-89fe-97691fa64e67.PNG)

Any idea?

[2017-06-29 09:46] Phlipflops commented on #39
All good I got it:) reinstalled the agilitypack. Its working fine right now:)

[2017-06-29 12:15] ksobon commented on #39
There should be a dll named HtmlAgilityPack in Mandrill's package folder under bin. Can you please check its there?

[2017-06-29 12:49] Phlipflops commented on #39
It wasn`t there. Now it is and everything is fine! Thank you @ksobon!

[2017-06-29 13:02] #39 closed

[2017-07-14 00:48] huythach opened #40 "Error in building: Authentication and xcopy /Q/Y"
Thank you very much for sharing this great app.

I can download and install Mandrill from Package Manager, however, I am unlucky on building this package from source code with 2 errors:

1. Authentication error as the attached image. I think the reason is that I don't have Mandrill_License.dll file, so I unzip Mandrill.zip file inside _Builds/Grasshopper folder then added this DLL file to project

[2017-07-14 09:39] radumg commented on #40
@ksobon , sorry for butting in, just randomly saw this in my feed :smile:  .

Hi @huythach , please check the[ post-build section of the projects](https://github.com/BadMonkeysTeam/Mandrill/blob/master/Mandrill/Mandrill_Dynamo.csproj#L699) :  the `xcopy` script is trying to copy files to this directory :
C:\Users\`ksobon`\AppData\Roaming\Dynamo\...
which will obviously not exist on your machine. T

[2017-07-14 15:24] ksobon commented on #40
Yeah that's the issue. I will be doing a little work on Mandrill maybe next month. I can pick that up then.

[2017-07-14 15:25] ksobon commented on #33
@cesarecaoduro it has been a while since I heard from you. I am going to assume that this was resolved.

[2017-07-14 15:25] #33 closed

[2017-07-18 02:11] huythach commented on #40
@radumg: thank you very much for pointing it out.

[2017-08-10 02:47] huythach opened #41 "Difference between Online Package and importing DLL file"
There are some differences in Report component when installing Archi-lab_Mandrill from the Online Package and importing Archi-lab_Mandrill.dll file after building the source code project.
As in the attached images, when I install Mandrill from the Online Package, the Report component contains 3 parts: Html, Pdf and Window. However, when I build your source code project, then import Archi-lab_Mandr

[2017-08-14 13:26] pabloderen opened #42 "Dynamo crashes when clicking on "Save HTML" button"
Dynamo crashes when clicking on "Save HTML" button. The chart works using the "Show Window".
According to exception HtmlAgilityPack.dll is not found. Only version on system is located here C:\Windows\assembly\NativeImages_v4.0.30319_64 .

Trying compiling from github

Revit 2017.1
Dynamo 1.3.1.1736
Archi-lab_Mandrill 2017.12.4 (through Dynamo package manager)

[code]

[2017-08-14 15:13] pabloderen commented on #42
Issue solved coping HtmlAgilityPack.dll version 1.4.9.5 into %APPDATA%\Dynamo\Dynamo Revit\1.3\packages\Archi-lab_Mandrill\bin

[2017-08-14 22:46] ksobon commented on #42
Well, that file would be automatically placed in that location if you were to install it from the package manager. I don't believe that I have seen these kinds of issues before.

[2017-08-14 22:48] ksobon commented on #41
Source will be a little ahead of what is posted on the Package Manager and Food4Rhino sites. I might have been testing a thing or two recently.

[2017-08-14 22:48] #41 closed

[2017-08-14 23:44] radumg commented on #42
@ksobon - are you doing anything in the post-build steps ?
that's where I typically copy over these package `DLL`s to the `%APPDATA%\...\PackageName-Dev\bin` location to enable testing the `dev` package alongside the `production` one published on the package manager.

[2017-08-15 01:12] ksobon commented on #42
my bad...i misunderstood the complain. Yes, if building from source, I might have missed that copy statement. I thought that package was installed from package manager and was missing files. That should not have happened. I will check this out.

[2017-08-15 12:49] pabloderen commented on #42
@ksobon @radumg Maybe I explain it wrong. The issue happens using the version downloaded from the dynamo package manager. It seems HtmlAgilityPack.dll was not included with the other dlls in \bin.
When i said "issue solved", I didn't built from source . Just downloaded HtmlAgilityPack.dll 1.4.9.5 with NuGet and paste it on the package folder.

[2017-08-15 19:20] ksobon commented on #42
@pabloderen now I know what's up. Ok, i will check this out. Thanks for reporting.

[2017-09-12 07:22] #40 closed

[2017-09-12 08:58] huythach opened #43 "How to set configure build setting?"
Is there anyone having problem as mine?
I tried 4 kinds of build setting in configuration manager, but none of them works, although there is no error on building.
+ 13: I can see some DLL files in ~\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Archi-lab_Mandrill\bin, but when I open a Dynamo sample from _Sample folder, click Launch Window button, a blank window appears.

+ 20: I only see DLL f

[2017-09-21 02:08] huythach commented on #43
Finally, I found the solution for this problem by:
1. Install Mandrill from Search Package Online (to have extra folder and pkg.json file)
2. Comment out #if Release20 in the MandrillVariableInputNode.cs file.
It works now.

[2017-09-21 02:08] #43 closed

[2018-03-21 19:13] ksobon commented on #42
@pabloderen I added that missing DLL to the package and posted an update 2018.0.1 Thanks for reporting.

[2018-03-21 19:13] #42 closed

[2018-03-21 19:15] ksobon commented on #26
@makotoohura this should be fixed. I think it was because you were missing a DLL called HtmlAgilityPack and that was fixed in the latest issue: 2018.0.1 The notifications above don't actually cause any issues.

[2018-03-21 19:15] #26 closed

[2018-03-21 19:22] ksobon commented on #36
@DanielHurtubise sorry but I can't seem to be able to change this behavior.

[2018-03-21 19:22] #36 closed

[2018-03-21 19:24] ksobon commented on #34
@DanielHurtubise so this would actually work, just follow my image.

[2018-03-21 19:24] #34 closed

[2018-03-28 21:06] TheBIMsider opened #46 "Archi-lab_Mandril version 2018.0.1 Create Report Node issue"
Hello, I just installed the new Mandrill Package 2018.0.1 and it seems the "create report" node is missing the report output now, am I missing something? I'm currently using Revit 2018.2 and Dynamo 1.3.2.

Thanks, Carl

![2018-03-27_19-24-06](https://user-images.githubusercontent.com/37883693/38056350-7cc7f15a-3299-11e8-8151-ebb5926278c6.png)
![2018-03-27_19-22-34](https://user-images.githubuserco

[2018-03-29 02:54] ksobon commented on #46
Should be fixed:
![image](https://user-images.githubusercontent.com/529781/38067544-076bc9da-32db-11e8-85d2-ae69bb1eb6c5.png)

[2018-03-29 02:54] #46 closed

[2018-04-18 14:27] Eckart-S opened #47 "Dynamo 2.0 issues"
I had a quick check of Mandrill package with Dynamo 2.0 release version and found the following issues:
(Dynamo Sandbox 2.0 / Dynamo for Revit (2017))

- Create Report node does not appear at all
- Report Window node can be placed but after saving + opening its gone
- Save to Html / Print to PDF node can be placed but when file is saved it freezes dynamo
- Font Style / Font Weight / Front Transfor

[2018-04-27 11:55] MatteoCapoferri opened #48 "Archi-Lab_Mandrill 2018.0.2 "Launch Window" button"
Dynamo crashes when clicking on "Launch Window" button of the Report Window node.

Revit 2018
Dynamo 1.3.0.875
Archi-lab_Mandrill 2018.0.2 (through Dynamo package manager)
![164](https://user-images.githubusercontent.com/36993906/39361393-9b6ff348-49f8-11e8-8f76-abdfa939ee9c.JPG)

Method not found: 'EO.WebBrowser.WebView EO.WebBrowser.Wpf.WebControl.get_WebView()'.

   at Mandrill.ChromeWindow.Man

[2018-04-27 12:31] ksobon commented on #48
@MatteoCapoferri can you show me the contents of this folder: `C:\Users\username\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Archi-lab_Mandrill\bin`

[2018-04-27 12:32] ksobon commented on #47
This was just updated and released. Please download from package manager.

[2018-04-27 12:32] #47 closed

[2018-04-27 12:54] MatteoCapoferri commented on #48
![165](https://user-images.githubusercontent.com/36993906/39363490-e1ce546c-4a00-11e8-942c-d1edd3db0486.JPG)

here you are thanks

[2018-04-27 14:14] ksobon commented on #48
OK this looks good. Can you do me a favor and make sure that the input into that node is NOT null?

![image](https://user-images.githubusercontent.com/529781/39367062-b9b7bea2-4a03-11e8-8440-a6fab2354026.png)

Basically go backwards a little to make sure that you are getting a proper report object.

[2018-04-27 14:55] MatteoCapoferri commented on #48
No. The input should be correct.
Thanks for your help.

![166](https://user-images.githubusercontent.com/36993906/39368964-67a53ff0-4a11-11e8-9d7b-e8ab61b8a387.JPG)

[2018-05-02 10:33] DanielHurtubise opened #49 "Simple Bar Chart"
Can't figure out why i get an empty Window

![image](https://user-images.githubusercontent.com/4299930/39518916-fe60654a-4e04-11e8-8a66-352234c6e79b.png)

[2018-05-03 13:04] ksobon commented on #49
Try this:

![image](https://user-images.githubusercontent.com/529781/39578030-078f93aa-4eb1-11e8-8022-853cd69b6f77.png)

[2018-05-08 13:37] ksobon commented on #49
@DanielHurtubise did my suggestion help?

[2018-06-07 13:47] l123c opened #50 "How to change the size of words?"
How to change the size of words?

[2018-06-07 15:20] ksobon commented on #50
@l123c can you post an image of what you are trying to chage?

[2018-06-25 09:56] mathieuvenot commented on #37
Hello, agreed for multiple lines support. Will be awesome for comparison purposes !

[2018-08-08 18:45] ksobon opened #51 "create report node tends to lose its input when graph is re-opened"
the input ports dissappear.

[2018-08-08 18:46] ksobon commented on #50
I haven't heard from you in a while so i will consider this issue solved. Please feel free to reopen.

[2018-08-08 18:46] #50 closed

[2018-08-08 18:46] #49 closed

[2018-08-20 06:02] DanielHurtubise commented on #50
Sorry i was on vacation… sadly back on track 😊

From: Konrad K Sobon <notifications@github.com>
Sent: Wednesday, 8 August, 2018 20:46
To: BadMonkeysTeam/Mandrill <Mandrill@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [BadMonkeysTeam/Mandrill] How to change the size of words? (#50)

I haven't heard from you in a while so i will consider this issue solved. Please f

[2018-09-28 19:56] DrewJarvisSolidCAD commented on #48
I am getting the same issue
![capture](https://user-images.githubusercontent.com/34753077/46230261-f57e5d00-c31c-11e8-81ef-c22582cfe679.png)
![capture2](https://user-images.githubusercontent.com/34753077/46230296-121a9500-c31d-11e8-8ba8-a5122721f7b9.PNG)

Method not found: 'EO.WebBrowser.WebView EO.WebBrowser.Wpf.WebControl.get_WebView()'.

   at Mandrill.ChromeWindow.MandrillWindow..ctor()
   at

[2018-10-11 18:53] #51 closed

[2018-12-11 10:49] DanielHurtubise commented on #49
Sorry for the delay, yes it id ;)
Thanks a lot

[2018-12-11 11:20] DanielHurtubise opened #53 "Bar Chart Width"
I was under the impression that the Width for the Style in a Bar Chart was for the entire width of the "dialog" when using a Window but i seems to pertain to the Bar width right?
![image](https://user-images.githubusercontent.com/4299930/49797190-0268f500-fd3f-11e8-83ba-cb19fcd782be.png)
![image](https://user-images.githubusercontent.com/4299930/49797248-262c3b00-fd3f-11e8-8784-f182125579fd.png)

[2018-12-18 06:33] DanielHurtubise opened #54 "Legend Text Location"
Is there any way to control the Legend location to have it on top
![image](https://user-images.githubusercontent.com/4299930/50136141-1197f780-0297-11e9-815f-ce5edb7cfcc1.png)
Thanks

[2018-12-18 12:59] ksobon commented on #54
I don't think so. What I would do, is just feed in empty string for that legend text, and then add a text note above that legend. That should get you what you need.

[2018-12-18 13:01] ksobon commented on #53
Yeah, that would be doable. Let me think about this one.

[2019-01-28 21:46] wassimj commented on #48
Hi Konrad,
I am still getting the same issue with the new version downloaded from the package manager (2019.2.0)
Failed to resolve LoadLibrary.

   at EO.Internal.jh.b.d()
   at EO.Internal.jh.b.a(String[] A_0, String A_1, String A_2, String A_3, String A_4)
   at EO.Internal.jh.a(Boolean& A_0, String[] A_1, String A_2, String A_3, String A_4, String A_5)
   at EO.Internal.jh.a(String[] A_0, Strin

[2019-01-29 07:06] wassimj commented on #48
@ksobon I am running Dynamo Sandbox version 2.0.1.5055
I am attaching the simplest definition I could create that crashes it. It crashes consistently by the way. I can never see the window. But creating an HTML works absolutely fine. Have not tried PDF.

![image](https://user-images.githubusercontent.com/6302909/51890323-a9f3c280-2393-11e9-9071-146a2f4a0e6d.png)

Dynamo definition (Link expires 15

[2019-02-03 19:59] wassimj commented on #26
Just to add that I noticed the same notification when I started Dynamo from within Revit, but not when just using the Sandbox:

While loading assembly Mandrill_UI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null, Dynamo detected that the dependency EO.WebBrowser, Version=16.2.50.0, Culture=neutral, PublicKeyToken=e92353a6bf73fffc was already loaded with an incompatiable version. It is likely

[2019-02-12 21:20] wassimj opened #56 "Domain of ScatterPlot X-axis"
The X-Axis domain for the scatterplot chart seems wrong. If I set the domain to A=0, B=1, I get -1 to 1. If I set it to  A=1 B=1, then I get the correct 0 to 1 domain . The Y-axis domain is correct.

<img width="1236" alt="mandrill-bug" src="https://user-images.githubusercontent.com/6302909/52668633-f7cc0700-2f0b-11e9-9694-c6073397a7f1.PNG">

[2019-04-26 16:18] MDP-BM opened #57 "Issue with "Launch Window" Crashing Dynamo and Revit"
Hello,

I downloaded a script from Konrad Sobon for Parsing Warnings into a nice little graph. I am using the latest Dynamo Revit version 2.0.2. and latest Dynamo Core. When I first opened the script I had to fix a lot of unresolved nodes. Once I got that all figured out, I ran the script. When I select the Launch Window, it instantly crashes Revit and Dynamo. He requested that I post the issue he

[2019-04-26 16:25] ksobon commented on #57
@MDP-BM do you by any chance have Windows 10 Pro version 1809 installed?

[2019-04-26 16:28] MDP-BM commented on #57
I do.
![2019-04-26_10-27-33](https://user-images.githubusercontent.com/50025628/56822332-f40f0780-680d-11e9-860e-9fdb97182e74.png)

[2019-04-26 16:56] ksobon commented on #57
Can you give this a try: https://drive.google.com/file/d/1OPVA3irOQdaWVGxiYd-6EV3oZYDLEXXv/view?usp=sharing

Just make sure to first UNBLOCK the ZIP, then unzip the contents and replace in your Packages folder. I will publish that to the Package Manager once I know it solved the issue.

[2019-04-26 16:58] ksobon commented on #48
@wassimj it looks like your issue is the same as reported here: https://github.com/BadMonkeysTeam/Mandrill/issues/57 I just posted a potential solution. Can you give it a try?

[2019-04-26 17:03] ksobon commented on #57
@MDP-BM just for references this seems to be a known issue related to Windows 10 and that specific release.

![image](https://user-images.githubusercontent.com/529781/56824119-a00f1d80-6823-11e9-934a-0d93e404db6f.png)

[2019-04-26 17:12] MDP-BM commented on #57
It still crashed.

Operation is not valid due to the current state of the object.

   at EO.Internal.jh.a(Boolean& A_0, String[] A_1, String A_2, String A_3, String A_4, String A_5)
   at EO.Internal.jh.a(String[] A_0, String A_1, String A_2, String A_3, String A_4)
   at EO.Internal.jh.o.c()
   at EO.Internal.jh.o.f()
   at EO.Internal.jh.l()
   at EO.Internal.jh.a(Boolean& A_0, String[] A_1, Str

[2019-04-26 17:22] ksobon commented on #57
Would you be able to do a quick call with me? I would want to see your screen. That would better allow me to be able to debug this issue.

[2019-04-26 17:24] MDP-BM commented on #57
Sure, what do you want to use for that screensharing?

[2019-04-26 17:46] ksobon commented on #57
@MDP-BM thanks for getting on a call with me. It looks like Mandrill is not crashing because of an issue with Mandrill (since we were able to build a graph and launch it just fine), but it has to be caused by corrupt data/old components in that sample file you downloaded from my blog. Again it was created over 2 years ago, and a lot has changed in Dynamo. First and foremost Dynamo is no longer XML

[2019-04-26 17:46] #57 closed

[2019-04-26 22:33] wassimj commented on #48
Will do. Next week. Thanks

Dr. Wassim Jabi, Reader
Course Director, MSc Computational Methods in Architecture
Director of Student Recruitment and Admissions
Welsh School of Architecture
Cardiff University
Bute Building
King Edward VII Avenue
Cardiff CF10 3NB
Wales U.K.
Tel: +44 (0) 29 2087 5891
E-mail: jabiw@cardiff.ac.uk
The University welcomes correspondence in Welsh or English.
Dr. Wassim Jabi

[2019-05-02 02:27] ksobon commented on #48
@wassimj actually just install the latest from package manager:

![image](https://user-images.githubusercontent.com/529781/57054087-5ded3e00-6c60-11e9-8b61-980b8389f859.png)

[2019-11-05 18:45] kevincarv commented on #35
I'm getting the same problem, but in Grasshopper version there is no TickMarks input.
![image](https://user-images.githubusercontent.com/55897433/68236073-372f0c00-ffe3-11e9-85c4-45509e9229a6.png)

[2019-11-05 19:05] ksobon commented on #35
can you post a sample file for me to re-create?

[2019-11-06 11:46] kevincarv commented on #35
In fact, I'm using the sample file uploaded here. I'm not sure if it is because I'm using the CSV file from the Dynamo folder..

The Grasshopper (.gh) file - **Folder Samples Grasshopper**:
https://github.com/Ba

dMonkeysTeam/Mandrill/tree/master/_Samples/Grasshopper/ParallelCoordinates

The CSV file - **Folder Samples Dynamo**:
https://github.com/BadMonkeysTeam/Mandrill/blob/master/_Samples/Dynam

[2019-11-19 17:01] nicebikemate opened #58 "Launch Window crash"
Prelude, I have read through most of the threads regarding this but it seems unique, to my layman's eyes at least.

Worth mentioning here that i'm using latest version of Dynamo, Revit 2020.1 on windows 10 pro, version 1903, build 18362.476.

What did you do?
(Fill in here)
Attempted to run Launch Window for Mandrill by Archi-lab

What did you expect to see?
(Fill in here)
Window should pop up sho

[2019-11-19 17:03] nicebikemate commented on #58
addendum: it also crashes on print to pdf. save to html brings a pop-up "printing failed. is file open in another application" (it's not)

[2019-11-19 17:22] nicebikemate commented on #58
Seems as if this might have been something to do with our network and profiles. Moving the package folder to and external hdd seems to have fixed the issue

[2019-11-19 17:22] #58 closed

[2019-11-19 18:35] ksobon commented on #58
Thanks for reporting this. I would like to understand more about the issue and the fix you proposed. So the package crashes when its located in the AppData folder, but it stops when you move it to a Network location? Can you elaborate?

[2019-11-20 10:05] nicebikemate commented on #58
Yer no problem, i'll do my best to explain though I suspect the origins of this issue might be particular to our company rather than anything to do with your coding.

The package was originally installed to it's default location and i'd attempted to re-install it to the same place multiple times. I'd upgraded my windows, reinstalled dynamo, deactivated the other addings etc etc but it wasn't going

[2019-11-29 17:54] kevincarv commented on #35
Any news? Are there any pre-requisites to run Mandrill on Rhino?

[2019-11-29 18:37] ksobon commented on #35
@kevincarv I opened that file you sent me and I am able to render that chart without any issues:

![image](https://user-images.githubusercontent.com/529781/69885858-57ce4700-12ad-11ea-9fb6-88ebb71115c2.png)

Please make sure that you have Rhino6, and latest version of Mandrill installed: https://www.food4rhino.com/app/mandrill-dataviz

Cheers!

[2019-12-01 13:30] kevincarv commented on #35
I tried in my home pc instead of work pc, and it works. Probably is some kind of network filter from the company. I'll try to unblock it. Thank you!

Can I take the opportunity from this topic to ask you how can I use custom visuals? I saw on your website that you can use D3.js visuals. I would like to use this one: http://bl.ocks.org/robschmuecker/7880033

How do I proceed to use it in grasshoppe

[2019-12-01 14:55] #35 closed

[2019-12-01 14:56] ksobon opened #59 "Collapsible Tree visulalization"
This was originally asked by XXX in a different thread.

Can I take the opportunity from this topic to ask you how can I use custom visuals? I saw on your website that you can use D3.js visuals. I would like to use this one: http://bl.ocks.org/robschmuecker/7880033

How do I proceed to use it in grasshopper?

Sorry if this is the wrong place to ask. I can ask in another place, if you want.

Best r

[2019-12-01 15:10] ksobon commented on #59
So yes, you can use any d3 chart with Mandrill, but I would first have to wrap it up for Grasshopper and Dynamo. There is a bit of work/time needed to make them available. No promises.

[2019-12-01 15:26] ksobon commented on #56
@wassimj you are correct. There was a mistake in my code that was causing it. it should be fixed now.

![image](https://user-images.githubusercontent.com/529781/69916120-d4cffc80-1424-11ea-8f1a-44ea1f059a35.png)

![image](https://user-images.githubusercontent.com/529781/69916129-05179b00-1425-11ea-8190-d99387b440e6.png)

[2019-12-01 15:26] #56 closed

[2019-12-11 13:23] rana-ayman opened #60 "Empty Dictionary when reading from Csv"
![MandrillPrimer_ barchart](https://user-images.githubusercontent.com/52454742/69743478-6a724000-1136-11ea-84ee-5e336d3fba48.JPG)
Hello,

Thank you for the amazing package.
I tried it, it worked when data are imported manually using code block to import chart data, but it couldn't work with reading from CSV file.

I attached the script.
and the excel cvs data file.
![Capture 1](https://user-images

[2019-12-11 13:23] #60 closed

[2020-01-14 18:02] rana-ayman opened #61 "Empty Dictionary"
Hi @ksobon,

I have issues regarding creating Mandrill charts.
I tried it within my calculation script and seperate and both are not working.

I attached the excel file with the data and charts I want to extract. I also attached print screen from the script.

I have that latest package from Mandrill. Kindly advise what to do.

Thank you.

Rana

![bar chart](https://user-images.githubusercontent.co

[2020-04-16 19:59] rynaldi95 opened #62 "Scatter Plot Grasshopper Empty Output Window"
hi, i'm rynaldi. I'm working on a project with grasshopper and i'm kind of new to this software.

I want to make scatter plot with mandrill, however, the output window is always empty both by inputting data manually and retrieving data from CSV.
I tried with other chart (bar chart) and it works well. Do you have any recommendation or correction? I'm wondering if my input data is wrong, but I canno

[2020-04-17 02:34] ksobon commented on #62
@rynaldi95 thanks for reporting. I think I was able to fix the bug. Here's a new version:

![image](https://user-images.githubusercontent.com/529781/79526048-03dcb880-802a-11ea-8f25-721528220cec.png)

Cheers!

[2020-04-17 02:34] #62 closed, assigned to ksobon

[2020-04-18 20:31] ayezioro commented on #62
Hi,
Also I am  just testing this plugin. I took the example above, updated all components but the window is still empty.
As a matter of fact all examples I'm trying are faulty.
Will be nice to have a good set of working examples, including the data files, since there is no other explanation in order to understand the working flow. I see the potential of the plugin, but can't make it work.
Will app

[2020-04-19 14:45] ksobon commented on #62
@ayezioro got a min to get on a call? I think it will be easier to try and fix the issue if I can see what the install looks like, and what's the data.

[2020-04-19 20:52] ayezioro commented on #62
Hi @ksobon,
Sure. Thank you!!
How you suggest to do it?
-A.

[2020-04-19 21:05] ksobon commented on #62
https://calendly.com/konradsobon/quick-meet

[2020-04-24 09:58] rafael-a commented on #62
@ksobon, @ayezioro did you find a solution to this?

I downloaded the last version of the GH plugin, but can´t get any graph plotted on the window. PDF reports work well though.

[2020-04-24 11:31] ayezioro commented on #62
@rafael-a,
I don't know if your issue is the same as mine. The solution for mine was to copy the eowp.exe file, located at the C:\Users\YOURUSER\AppData\Roaming\Grasshopper\Libraries\Mandrill folder into the C:\Program Files\Rhino 6\Plug-ins\Grasshopper.
@ksobon will try to solve this issue in a better manner, but in the meantime this is how it works for me.
-A.

[2020-04-24 11:47] rafael-a commented on #62
That worked, @ayezioro.
Thank you for the quick reply, all seems good now.

[2020-04-25 09:10] rynaldi95 commented on #62
@ksobon,
sorry for the late reply.
thanks a lot for the fix. It works perfectly well!
I have another question, I'm just wondering if its actually possible to plot a histogram with Mandrill?
I know it's a bit off topic, but I just want to know if it's possible. If yes, I will open a new thread regarding this.

[2020-04-25 12:28] rynaldi95 opened #63 "Histogram with Mandrill - Grasshopper"
Hi, my name is Rynaldi.

I would like to ask if it's possible to create histogram with mandrill in Grasshopper?

thank you in advance

Regards,
Rynaldi

[2020-07-13 19:31] kevalsolanki10 opened #64 "Dynamo has crashed"
Dynamo core - 2.1.0.7500
Dynamo Revit - 2.1.0.7733

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

Revit version - 2019
(Which version of Revit are you using?)

Operating system
Windows 10

What did you do?
Tried to launch the report using the Mandrill. It contain the script of the bar chart.

What did you expect to see?
Bar chart showing the Room name & Area

Wha

[2020-07-13 19:32] kevalsolanki10 commented on #64
Issue solved

[2020-08-11 04:08] ksobon commented on #63
@rynaldi95 do you have an example from D3.js website that I can use for reference here?

[2021-03-13 17:55] BadAstronaut opened #65 "Dynamo Crashing after lunching window the second time"
What did you do?
The first time i run the graph and lunch the window it works perfectly but if i close the window and hit lunch again or close dynamo and re run i get the error

What did you expect to see?
the window with the graph

What did you see instead?
error

What packages or external references (if any) were used?
Mandrill 2020.2.1

Stack Trace
The process cannot access the file 'C:\Users\A

[2021-03-13 22:22] ksobon commented on #65
@BadAstronaut what version of Revit/Dynamo/DynamoRevit are you using? I want to make sure that I can re-create the issue.

[2021-03-13 22:37] BadAstronaut commented on #65
Thanks a lot Konrad. here is the file im using and info you requested
https://www.notion.so/rzlazo/Dynamo-13c46d858b874800bac1c8c5f112eabc

[2021-03-22 21:18] ksobon commented on #65
@BadAstronaut so the issue that you have been seeing is hopefully solved now. I did a general update to Mandrill to bring it up to latest version of EO WebBrowser, and that should have resolved the need for eowp.exe to be launched directly from Mandrill. The library managed that itself now. Anyways, I won't bother you with the details. The long story short is that it should be fixed. Please update

[2021-03-22 21:18] #65 closed, assigned to ksobon

[2021-03-22 21:20] ksobon commented on #64
@kevalsolanki10 if you can post some more information, like a log file that was generated during this crash that would be great. Until then, I will close this issue. I just released a new version that took care of some of the eowp.exe related crashes. Please reopen this issue if it's still persisting.

[2021-03-22 21:20] #64 closed, assigned to ksobon

[2021-03-22 21:22] ksobon commented on #48
@wassimj there is yet another version of Mandrill that was just released. Please update to 2021.1.1. I will close this issue since I don't think it will be a problem with this latest release anymore.

[2021-03-22 21:22] #48 closed

[2021-03-22 21:41] BadAstronaut commented on #65
My god! your the best man! worked like a charm!! thanks a lot for the help!

[2021-03-22 21:47] ksobon commented on #65
@BadAstronaut please consider supporting archi-lab.net via Patreon: https://www.patreon.com/archilab Funding that I receive on Patreon helps me keep these plugins updated, and working. In case of Mandrill it also pays for the license of EO Web Browser that the plugin uses.

Cheers!

[2021-03-22 21:53] BadAstronaut commented on #65
Done! i participate in the initial funding for mandrill i just sign in for the patreon. thanks for doing what you do!

[2021-03-22 21:59] ksobon commented on #65
Oh! Thank you. That's great. That initial GoFund Me paid for the initial license cost, and yearly renewals for the next year after that. Since then, I have been paying the renewal costs myself. It's not that bad. I think this year it was around $239.70. Still, Mandrill is Open Source and free, so it's a pain to be paying for the license out of pocket. That's why I setup that Patreon page. It helps

[2021-10-08 15:01] Vins-a-r opened #66 "ScatterPlotData list input"
Hi,
I'm using Mandrill for Grasshopper and, apparently, the ScatterPlotData does not work with a list input. In fact, when I try to plot a set of data, I only get the first point.
I downloaded the last updated version of the plug-in but it did not work for me.

Any suggestion about how to solve this issue?

Thank you!

Kind regards.

![Capture1](https://user-images.githubusercontent.com/40264179/1

[2021-10-08 15:46] ksobon commented on #66
@Vins-a-r you have to pay attention to "Size" input. If you are providing a list of points, then you have to have a matching list of sizes. Here's an example:

![image](https://user-images.githubusercontent.com/529781/136586018-2baf1776-de80-4129-bf72-937cba592151.png)

Also, there is a git book that explains data structures for most of these charts. It's for Dynamo, but very similar in Grasshoppe

[2021-10-08 15:46] #66 closed, assigned to nobody

[2021-10-14 10:44] Vins-a-r opened #67 "Multi colour ScatterPlot"
Hi!
I'm trying to make a ScatterPlot with multiple data series on Grasshopper and, therefore, I will need multiple colours.
Is there a way to do it?
This is a pic of my attempt but, unfortunately, it does not seem to work. It only plots the first colour or (if grafted) the last one.
In this simplified example, I tried to assign one single colour to each plotted point.

Any suggestions?
Thank you v

[2021-10-14 20:49] ksobon commented on #67
@Vins-a-r at the moment it looks like the Grasshopper version only can assign a single color to all "dots". I think this works better in the Dynamo version. I will log this as an enhancement requirement.